<section class="hero">
    <div class="container">
        <!-- <img class="icecream" src="./images/hero/icecream-hero.svg" alt="icecream"> -->
        <h1 class="title">ice cream <br> made with <br><span class="passion">passion</span></h1>
        <ul class="buttons">
            <li><button class="button-products" type="button">Products</button></li>
            <li><button class="button-how-its-made" type="button">How it’s made?</button></li>
        </ul>
        <p class="bio-eco-discription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    </div>
</section>