<section class="hero">
    <div class="container">
        <div class="thumb">
            <h1 class="title">ice cream <br> made with <br><span class="passion">passion</span></h1>
            <ul class="establishments">
                <li class="numbers">16</li>
                <li class="text cafe">cafes</li>
                <li class="numbers">23</li>
                <li class="text">food truks</li>
            </ul>
        </div>
        <ul class="buttons">
            <li><button class="button-products" type="button">Products</button></li>
            <li><button class="button-how-its-made" type="button">How it’s made?</button></li>
        </ul>
        <p class="bio-eco-discription">Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit,<br> sed do eiusmod tempor<br> incididunt ut labore et</p>
        <a href="#" class="some-link">
            <svg class="arrow">
                <use href="./images/sprite-products.svg#icon-arrow_forward"></use>
            </svg>
        </a>
    </div>
</section>