<section class="made">
    <div class="made-section container">
        <h2 class="made-pre-title">tradition and love</h2>
        <h1 class="made-title">
            <span>how it’s made?</span>
        </h1>
        <ul class="made-description">
            <li><img src="./images/made-img-min.png" alt="корова и кувшин молока"></li>
            <li>
                <p class="made-paragraph-one"> Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
                <p class="made-paragraph-two">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>
                <p class="made-paragraph-three">Aliquam erat volutpat. Aenean accumsan.</p>
                <div class="made-description-bg"></div>
                <button class="made-button button" href="">Read more
                    <svg width="" height="">
                    <use href=""></use></svg></button>
            </li>
        </ul>
        <ul class="made-products">
            <li>
                <svg width="33" height="50">
                <use href="./images/made-icon1-min.png"></use></svg>
                <p> <span class="made-products-number">721</span> <br/> <span class="made-products-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span> </p>
            </li>
            <li>
                <svg width="50" height="50">
                <use href="./images/sprite.svg#icon-made-icon2"></use></svg>
                <p> <span class="made-products-number">16kg</span> <br/><span class="made-products-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span> </p>
            </li>
            <li>
                <svg width="44" height="50">
                <use href="./images/sprite.svg#icon-made-icon3"></use></svg>
                <p> <span class="made-products-number">84</span><br/> <span class="made-products-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span> </p>
            </li>

        </ul>
</div>
</section>
