
<section class="locations container">

    <h2>Locations</h2> 
    <!-- сделаnm visibility:hidden -->
    <ul class="list">
        <li class="item">
            <h3>cafe</h3>
            <div>
                <h4>Chicago</h4>
                <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </div>
            <div>
                <h4>Monday - Friday</h4>
                <p>06:00 AM - 10:00 PM</p>
                <h4>Saturday - Sunday</h4>
                <p>08:00 AM - 16:00 PM</p>  
            </div>
            <div>
                <ul>
                    <li><a href="">+61(0) 383 766 284</a></li>
                    <li><a href="">noreply@envato.com</a></li>
                </ul>
            </div>

        </li>
        <li class="item">
            <h3>food truck</h3>
            <div>
                <h4>Los Angeles</h4>
                <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </div>
            <div>
                <h4>Monday - Friday</h4>
                <p>06:00 AM - 10:00 PM</p>
                <h4>Saturday - Sunday</h4>
                <p>08:00 AM - 16:00 PM</p>  
            </div>
            <div>
                <ul>
                    <li><a href="">+61(0) 383 766 284</a></li>
                    <li><a href="">noreply@envato.com</a></li>
                </ul>
            </div>
        </li>
        <li class="item">
            <h3>cafe</h3>
            <div>
                <h4>New York</h4>
                <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </div>
            <div>
                <h4>Monday - Friday</h4>
                <p>06:00 AM - 10:00 PM</p>
                <h4>Saturday - Sunday</h4>
                <p>08:00 AM - 16:00 PM</p>  
            </div>
            <div>
                <ul>
                    <li><a href="">+61(0) 383 766 284</a></li>
                    <li><a href="">noreply@envato.com</a></li>
                </ul>
            </div>
        </li>
    </ul>
    <button class="button control">Our Locations
    <svg width="5" height ="8">
        <use class="icon-embed" href="./images/sprite.svg#icon-embed"></use>
      </svg>
    </button>
    <button class="button franchise">Franchise
        <svg width="5" height ="8">
            <use class="icon-embed" href="./images/sprite.svg#icon-embed"></use>
          </svg>
    </button>
</section>
