<div class="container">
    <section class="products">
        <h2 class="products-title">100% natural</h2>
        <span class="products-name">products</span>
        <ul class="list">
            <img class="ice-img" src="../images/icepink.jpg" alt="pinkice">
            <h3 class="products-kinds">ice cream</h3>
            <li class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt
                ut
                labore et. dolore magna
                aliqua facilisis.</li>
            <img class="ice-img" src="../images/ice-biege.jpg" alt="biegeice">
            <h3 class="products-kinds">ice coffee</h3>
            <li class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt
                ut
                labore et. dolore magna
                aliqua facilisis.</li>
            <img class="ice-img" src="../images/ice-brow.jpg" alt="brownice">
            <h3 class="products-kinds">milkshakes</h3>
            <li class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt
                ut
                labore et. dolore magna
                aliqua facilisis.</li>
        </ul>
    </section>
</div>