<section id="reviews" class="reviews-gallery container">
  <picture class="gallery-desk">
    <source
      srcset="./images/mobile/galary.png 1x ./src/images/mobile/galary@x2.png 2x"
      media="(max-width:767px)"
    />
    <source
      srcset="./images/tablet/galary.png 1x ./src/images/tablet/galary@x2.png 2x"
      media="(min-width:768px)"
    />
    <source
      srcset="./images/galary.jpg 1x ./src/images/galary@x2.jpg 2x"
      media="(min-width:1200px)"
    />

    <img src="./images/galary.jpg" alt="hop-hai-la-la-ley" />
  </picture>
</section>




      <section class="slider" id="reviews">
        <div class="container slider-container">
          <div class="slider-box">
            <input class="slider-input" type="radio" name="r" id="r1" checked />
            <input class="slider-input" type="radio" name="r" id="r2" />
            <input class="slider-input" type="radio" name="r" id="r3" />
            <div class="slider-item-wrapper">
              <div class="slider-item">
                <picture>
                  <source
                    srcset="
                      ./images/slider/slider_g1_1x.png 1x,
                      ./images/slider/slider_g1_2x.png 2x
                    "
                  />
                  <img src="./images/slider/slider_g1_1x.png" alt="Emily" />
                </picture>
                <div class="slider-review">
                  <p class="slider-text">
                    <span
                      >Nullam viverra consectetuer. Quisque cursus et, porttitor
                      risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                      congue. Lorem ipsum primis in nibh vel risus.
                    </span>
                  </p>
                </div>
                <svg>
                  <use href="./images/sprite-1.svg#dots-slider"></use>
                </svg>
                <p class="slider-name">Emily, Los Angeles</p>
              </div>
              <div class="slider-item">
                <picture>
                  <source
                    srcset="
                      ./images/slider/slider_g2_1x.png 1x,
                      ./images/slider/slider_g2_2x.png 2x
                    "
                  />
                  <img src="./images/slider/slider_g2_1x.png" alt="Rosa" />
                </picture>
                <div class="slider-review">
                  <p class="slider-text">
                    <span
                      >Nullam viverra consectetuer. Quisque cursus et, porttitor
                      risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                      congue. Lorem ipsum primis in nibh vel risus.
                    </span>
                  </p>
                </div>
                <svg>
                  <use href="./images/sprite-1.svg#dots-slider"></use>
                </svg>
                <p class="slider-name">Rosa, Barcelona</p>
              </div>
              <div class="slider-item">
                <picture>
                  <source
                    srcset="
                      ./images/slider/slider_g3_1x.png 1x,
                      ./images/slider/slider_g3_2x.png 2x
                    "
                  />
                  <img src="./images/slider/slider_g3_1x.png" alt="Jannet" />
                </picture>
                <div class="slider-review">
                  <p class="slider-text">
                    <span>
                      Nullam viverra consectetuer. Quisque cursus et, porttitor
                      risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                      congue. Lorem ipsum primis in nibh vel risus.
                    </span>
                  </p>
                </div>
                <svg>
                  <use href="./images/sprite-1.svg#dots-slider"></use>
                </svg>
                <p class="slider-name">Jannet, Santiago</p>
              </div>
            </div>
            <div class="slider-navigation">
              <label class="slider-button first" for="r1"></label>
              <label class="slider-button second" for="r2"></label>
              <label class="slider-button third" for="r3"></label>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
