h1 {
  font-family: $primary-font;
  font-style: normal;
}

.products {
  text-align: center;
  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    margin-bottom: 165px;
  }
  &-title {
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.16;
    color: $secondary-color;
    margin-bottom: 15px;
  }
  &-name {
    display: block;
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 34px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    color: $accent-color;

    margin-bottom: 140px;
  }
  &-kinds {
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    color: $white-color;
    margin-bottom: 100px;

    text-align: center;
  }
  &-text {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: $white-color;
  }
  &-img {
    margin-top: -130px;
    margin-bottom: 22px;
  }
  &-link {
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }
}
.pink {
  background-color: #ffb8ca;
}
.biege {
  background-color: #f0d1a5;
}
.green {
  background-color: #c2e297;
}
